@{
    Layout = null;
}

    <head>
        <title>CREDI-TO</title>
        <link href="~/fonts/styles/styleTitle.css" rel="stylesheet" />
        <link rel="icon" type="images/png" sizes="18x18" href="~/Image/logoCredito.PNG">
    </head>

<div class="card">
    <div id="titleLogin" class="card-body" style="color:black; background-color:cadetblue; font-family:fantasy; font-size:xx-large; text-align: center">
       Sistema Gestor de Micro Creditos 
    </div>
</div>

<body style="margin:0;padding:0;  background:#2dc1d5 url('../../Image/FondoInicio.jpg') no-repeat center top;   width: 100%; height: 100%; position: absolute;">

    <div class="container body-content" style="text-align: center; height:60%">
        <br /><br />
        <div class="auth-wrapper d-flex no-block justify-content-center align-items-center">

            <div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-info text-white" id="basic-addon1"><i class="fas fa-user"></i></span>
                    </div>
                    <input id="txtUser" type="text" class="form-control form-control-lg" placeholder="Usuario" aria-label="Username" aria-describedby="basic-addon1" value="" required" />
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text bg-warning text-white" id="basic-addon2"><i class="fas fa-lock"></i></span>
                    </div>
                    <input id="txtPass" type="password" class="form-control form-control-lg" placeholder="Contrase&ntilde;a" aria-label="Password" aria-describedby="basic-addon2" value="" required />
                </div>
            </div>

        </div>
        <br />
        <div class="col-xs-12">
            <div class="center-block">
                <button style="" class="btn btn-primary" id="btnLogin" onclick="Login();"><i class="fas fa-sign-in-alt"></i> Ingresar</button>
            </div>
        </div>
        <br />
    </div>

</body>

<link href="~/Scripts/AlertMessage/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="~/Scripts/AlertMessage/alertifyjs/css/themes/default.css" rel="stylesheet" />
<link href="~/Scripts/bootstrap-4.2.1/css/bootstrap.min.css" rel="stylesheet" />

<script src="~/Scripts/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<script src="~/Scripts/bootstrap-4.2.1/js/bootstrap.min.js"></script>
<script src="~/Scripts/fontawesome/all.js"></script>
<script src="~/Scripts/jquery-3.4.0/BlockUI/jquery.blockUI.min.js"></script>
<script src="~/Scripts/Controller/PaperBag/LoginController.js"></script>
<script src="~/Scripts/AlertMessage/alertifyjs/alertify.js"></script>
<script src="~/Scripts/Controller/LoginController.js"></script>
<script src="~/Scripts/Controller/URLController.js"></script>