<link href="~/fonts/styles/styleTitle.css" rel="stylesheet" />
<link href="~/fonts/styles/StyleDataTable.css" rel="stylesheet" />
<link href="~/fonts/styles/StyleModal.css" rel="stylesheet" />
<div class="card">
    <div id="titleDiv" class="card-body" style="color:black; background-color:cadetblue; font-family:fantasy; font-size:xx-large; text-align: center">
        PRÉSTAMOS
    </div>
</div>
<br />
<div class="card-body">
    <button id="btnAddPrestamo" type="button" class="btn btn-primary" onclick="showModalAddProyect()"><i class="fas fa-arrow-circle-right"></i> Agregar préstamo </button>
</div>
<br />
<div>

    <div class="table-responsive">
        <br />
        <table id="tblPrestamo" class="table table-bordered table-striped table-hover" style="color: black; text-align:left; ">

            <thead class="thead-light">
                <tr>
                    <th scope="col">Número préstamo</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">Concepto</th>
                    <th scope="col">Monto</th>
                    <th scope="col">Monto a cobrar</th>
                    <th scope="col">Cantidad de cuotas</th>
                    <th scope="col">Fecha de Inicio</th>
                    <th scope="col">Fecha de Fin</th>
                    <th scope="col">Vendedor</th>
                    <th scope="col">Modificar Préstamo</th>
                    <th scope="col">Modificar Cuotas</th>
                    <th scope="col">Elimnar</th>
                </tr>
            </thead>
        </table>
    </div>

</div>

<!-- Modal -->

<div class="modal fade" id="AddPrestamoModal">
    <div class="modal-dialog" style="max-width:60%">
        <div class="modal-content" style="color:black">
            <div class="modal-header">
                <h5 class="modal-title" id="">Nuevo Préstamo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <table id="tblEditPrestamo" class="table" style="color:black">

                        <tbody style="text-align:left">
                            <tr>
                                <th>Cliente</th>
                                <td>
                                    <select class="select2 form-control custom-select" id="cboCliente" style="width: 100%; height:36px;"> </select>
                                </td>
                            </tr>
                            <tr>
                                <th>Concepto</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtConcepto" type="text">
                                </td>
                            </tr>
                            <tr>
                                <th>Monto</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtAmount" type="number">
                                </td>
                            </tr>
                            <tr>
                                <th>Monto a cobrar</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtAmountInterest" type="number">
                                </td>
                            </tr>
                            <tr>
                                <th>Cantidad de cuotas</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtQuantity" type="number">
                                </td>
                            </tr>
                            <tr>
                                <th>Fecha de inicio</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtDateStart" type="date">
                                </td>
                            </tr>
                            <tr>
                                <th>Día vencimiento cuota</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtDateEnd" type="date">
                                </td>
                            </tr>
                            <tr>
                                <th>Vendedor</th>
                                <td>
                                    <select class="select2 form-control custom-select" id="cboVendor" style="width: 100%; height:36px;"> </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="AddPrestamo();"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="EditPrestamoModal">
    <div class="modal-dialog" role="document" style="max-width:80%">
        <div class="modal-content" style="color:black">
            <div class="modal-header">
                <h5 class="modal-title" id="editCuotaPrestamo">Editar Cuotas de Préstamo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input id="txtIdPrestamo" type="text" style="display:none" />
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tblPrestamoDetail" class="table-responsive" style="color: black; text-align:left; ">
                        <thead class="thead-light">
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Numero Cuota</th>
                                <th scope="col">Importe</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Fecha de Modificación</th>
                                <th scope="col">Pagó</th>
                                <th scope="col">Monto que pagó</th>
                                <th scope="col">Módificar</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                @*<button type="button" class="btn btn-primary" onclick="AddPrestamo();"><i class="fas fa-save"></i> Guardar</button>*@
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="EditCuotaoModal">
    <div class="modal-dialog" role="document" style="max-width:60%">
        <div class="modal-content" style="color:black">
            <div class="modal-header">
                <h5 class="modal-title" id="titleCuota">Editar Cuota de: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input id="txtIdCuota" type="text" style="display:none" />
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tblEditPrestamo" class="table" style="color:black">
                        <tbody style="text-align:left">
                            <tr>
                                <th>Fecha</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtFechaCuota" type="date">
                                </td>
                            </tr>
                            <tr>
                                <th>pago</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtObservation" type="number">
                                </td>
                            </tr>
                            <tr>
                                <th>Observación de pago parcial</th>
                                <td>
                                    @*<textarea name="textarea" rows="10" cols="50">Write something here</textarea>*@
                                    <textarea style="max-width:100%" rows="10" class="form-control" id="txtObservationPartial" type="text"></textarea>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="SaveCuotaForId();"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="EditPrestamoDateModal">
    <div class="modal-dialog" role="document" style="max-width:60%">
        <div class="modal-content" style="color:black">
            <div class="modal-header">
                <h5 class="modal-title" id="h5Title">Editar Prestamo: </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <input id="txtIdPrestamo" type="text" style="display:none" />
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table id="tblEditPrestamoDate" class="table" style="color:black">
                        <tbody style="text-align:left">
                            <tr>
                                <th>Fecha Inicio</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtDateStartPrestamo" type="date">
                                </td>
                            </tr>
                            <tr>
                                <th>Fecha Fin</th>
                                <td>
                                    <input style="max-width:100%" class="form-control" id="txtDateEndPrestamo" type="date">
                                </td>
                            </tr>
                            <tr>
                                <th>Vendedor</th>
                                <td>
                                    <select class="select2 form-control custom-select" id="cboVendorEdit" style="width: 100%; height:36px;"> </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal"><i class="fas fa-window-close"></i> Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="SavePrestamoForId();"><i class="fas fa-save"></i> Guardar</button>
            </div>
        </div>
    </div>
</div>

<!-- En Modal  -->


<link href="~/Scripts/AlertMessage/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="~/Scripts/AlertMessage/alertifyjs/css/themes/default.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<script src="~/Scripts/bootstrap-4.2.1/js/bootstrap.min.js"></script>

<script src="~/Scripts/fontawesome/all.js"></script>
<script src="~/Scripts/AlertMessage/alertifyjs/alertify.js"></script>

<!--DataTables-->
<link href="~/Content/dataTables/DataTables-1.10.18/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/dataTables/Buttons-1.5.6/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.0/datatables/DataTables-1.10.18/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/dataTables.buttons.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/jszip.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/pdfmake.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/vfs_fonts.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/buttons.print.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/buttons.html5.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/BlockUI/jquery.blockUI.min.js"></script>
<script src="~/Scripts/Controller/PrestamoController.js"></script>
<script src="~/Scripts/Controller/URLController.js"></script>


