<link href="~/fonts/styles/styleTitle.css" rel="stylesheet" />

<div class="card">
    <div id="titleDiv" class="card-body" style="color:black; background-color:cadetblue; font-family:fantasy; font-size:xx-large; text-align: center">
        CUPÓN POR CLIENTE
    </div>
</div>

<div class="card-body">
    <div class="row">
        <br />
        <div class="col-md-3 card-body">
            <label>Cliente 1: </label>
            <select class="select2 form-control custom-select" id="cboCliente" style="width: 100%; height:36px;"> </select>
        </div>
        <div class="col-md-3 card-body">
            <label>Cliente 2: </label>
            <select class="select2 form-control custom-select" id="cboCliente2" style="width: 100%; height:36px;"> </select>
        </div>
        <div class="col-md-3 card-body">
            <label>Cliente 3: </label>
            <select class="select2 form-control custom-select" id="cboCliente3" style="width: 100%; height:36px;"> </select>
        </div>
        <div class="col-md-3 card-body">
            <label>Cliente 4: </label>
            <select class="select2 form-control custom-select" id="cboCliente4" style="width: 100%; height:36px;"> </select>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3 card-body">
            <button type="button" class="btn btn-primary" onclick="SearchCuponClient(1);"><i class="fas fa-search"></i> Buscar 1</button>
        </div>
        <div class="col-md-3 card-body">
            <button type="button" class="btn btn-primary" onclick="SearchCuponClient(2);"><i class="fas fa-search"></i> Buscar 2</button>
        </div>
        <div class="col-md-3 card-body">
            <button type="button" class="btn btn-primary" onclick="SearchCuponClient(3);"><i class="fas fa-search"></i> Buscar 3</button>
        </div>
        <div class="col-md-3 card-body">
            <button type="button" class="btn btn-primary" onclick="SearchCuponClient(4);"><i class="fas fa-search"></i> Buscar 4</button>
        </div>
    </div>
</div>
<br />

<div class="container" id="areaPrint">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table" style="color:black; text-align:left;">
                    <tr>
                        <th class="th1" style="border: 1px solid black;">CLIENTE </th>
                        <th class="th2" style="border-top: 1px solid black;">Fecha:</th>
                        <th class="th1" style="border-top: 1px solid black;">Num Préstamo:</th>
                        <td class="th2" style="border-top: 1px solid black;">
                            <p id="pNumPrestamo"></p>
                        </td>
                        <th class="th1" style="border: 1px solid black;">CREDI-TO </th>
                        <th class="th2" style="border-top: 1px solid black;">Fecha:</th>
                        <th class="th1" style="border-top: 1px solid black;">Num Préstamo:</th>
                        <td class="th2" style="border-top: 1px solid black;">
                            <p id="pNumPrestamo1"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Cliente:</th>
                        <td class="th2">
                            <p id="pNameClient"></p>
                        </td>
                        <th class="th1">Tel:</th>
                        <td class="th2">
                            <p id="pTelClient"></p>
                        </td>
                        <th class="th1" style="border-left: 1px solid black;">Cliente:</th>
                        <td class="th2">
                            <p id="pNameClient1"></p>
                        </td>
                        <th class="th1">Tel:</th>
                        <td class="th2">
                            <p id="pTelClient1"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Domicilio:</th>
                        <td class="th2">
                            <p id="pDomicilioClient"></p>
                        </td>
                        <th class="th1">Zona:</th>
                        <td class="th2">
                            <p id="pZoneClient"></p>
                        </td>
                        <th class="th1" style="border-left: 1px solid black;">Domicilio:</th>
                        <td class="th2">
                            <p id="pDomicilioClient1"></p>
                        </td>
                        <th class="th1">Zona:</th>
                        <td class="th2">
                            <p id="pZoneClinet1"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Cuota:</th>
                        <td class="th2">
                            <p id="pCuota"></p>
                        </td>
                        <th class="th1">Pagó:</th>
                        <th class="th1">Firma.</th>
                        <th class="th1" style="border-left: 1px solid black;">Cuota:</th>
                        <td class="th2">
                            <p id="pCuota1"></p>
                        </td>
                        <th class="th1">Pagó:</th>
                        <th class="th2">Firma.</th>
                    </tr>
                </table>
                <div class="container">
                    <div class="row">
                        <table id="tblCuponCliente" class="table" style="color: black; text-align:left; ">
                            <thead class="thead-light">
                                <tr>
                                    <th class="col-xs-1">Desde</th>
                                    <th class="col-xs-1">Hasta</th>
                                    <th class="col-xs-1">Total</th>
                                    <th class="col-xs-1">Pagado</th>
                                    <th class="col-xs-1">Saldo</th>
                                    <th class="col-xs-1">Cuo</th>
                                    <th class="col-xs-1 border border-primary">Desde</th>
                                    <th class="col-xs-1">Hasta</th>
                                    <th class="col-xs-1">Total</th>
                                    <th class="col-xs-1">Pagado</th>
                                    <th class="col-xs-1">Saldo</th>
                                    <th class="col-xs-1">Cuo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table" style="color:black; text-align:left;">
                    <tr>
                        <th class="th1" style="border: 1px solid black;">CLIENTE </th>
                        <th class="th2" style="border-top: 1px solid black;">Fecha:</th>
                        <th class="th1" style="border-top: 1px solid black;">Num Préstamo:</th>
                        <td class="th2" style="border-top: 1px solid black;">
                            <p id="pNumPrestamo2"></p>
                        </td>
                        <th class="th1" style="border: 1px solid black;">CREDI-TO </th>
                        <th class="th2" style="border-top: 1px solid black;">Fecha:</th>
                        <th class="th1" style="border-top: 1px solid black;">Num Préstamo:</th>
                        <td class="th2" style="border-top: 1px solid black;">
                            <p id="pNumPrestamo2_2"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Cliente:</th>
                        <td class="th2">
                            <p id="pNameClient2"></p>
                        </td>
                        <th class="th1">Tel:</th>
                        <td class="th2">
                            <p id="pTelClient2"></p>
                        </td>
                        <th class="th1" style="border-left: 1px solid black;">Cliente:</th>
                        <td class="th2">
                            <p id="pNameClient2_2"></p>
                        </td>
                        <th class="th1">Tel:</th>
                        <td class="th2">
                            <p id="pTelClient2_2"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Domicilio:</th>
                        <td class="th2">
                            <p id="pDomicilioClient2"></p>
                        </td>
                        <th class="th1">Zona:</th>
                        <td class="th2">
                            <p id="pZoneClient2"></p>
                        </td>
                        <th class="th1" style="border-left: 1px solid black;">Domicilio:</th>
                        <td class="th2">
                            <p id="pDomicilioClient2_2"></p>
                        </td>
                        <th class="th1">Zona:</th>
                        <td class="th2">
                            <p id="pZoneClinet2_2"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Cuota:</th>
                        <td class="th2">
                            <p id="pCuota2"></p>
                        </td>
                        <th class="th1">Pagó:</th>
                        <th class="th1">Firma.</th>
                        <th class="th1" style="border-left: 1px solid black;">Cuota:</th>
                        <td class="th2">
                            <p id="pCuota2_2"></p>
                        </td>
                        <th class="th1">Pagó:</th>
                        <th class="th1">Firma.</th>
                    </tr>
                </table>
                <div class="container">
                    <div class="row">
                        <table id="tblCuponCliente2" class="table" style="color: black; text-align:left;">
                            <thead class="thead-light">
                                <tr>
                                    <th class="col-xs-1">Desde</th>
                                    <th class="col-xs-1">Hasta</th>
                                    <th class="col-xs-1">Total</th>
                                    <th class="col-xs-1">Pagado</th>
                                    <th class="col-xs-1">Saldo</th>
                                    <th class="col-xs-1">Cuo</th>
                                    <th class="col-xs-1 border border-primary">Desde</th>
                                    <th class="col-xs-1">Hasta</th>
                                    <th class="col-xs-1">Total</th>
                                    <th class="col-xs-1">Pagado</th>
                                    <th class="col-xs-1">Saldo</th>
                                    <th class="col-xs-1">Cuo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table" style="color:black; text-align:left;">
                    <tr>
                        <th class="th1" style="border: 1px solid black;">CLIENTE </th>
                        <th class="th2" style="border-top: 1px solid black;">Fecha:</th>
                        <th class="th1" style="border-top: 1px solid black;">Num Préstamo:</th>
                        <td class="th2" style="border-top: 1px solid black;">
                            <p id="pNumPrestamo3"></p>
                        </td>
                        <th class="th1" style="border: 1px solid black;">CREDI-TO </th>
                        <th class="th2" style="border-top: 1px solid black;">Fecha:</th>
                        <th class="th1" style="border-top: 1px solid black;">Num Préstamo:</th>
                        <td class="th2" style="border-top: 1px solid black;">
                            <p id="pNumPrestamo3_3"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Cliente:</th>
                        <td class="th2">
                            <p id="pNameClient3"></p>
                        </td>
                        <th class="th1">Tel:</th>
                        <td class="th2">
                            <p id="pTelClient3"></p>
                        </td>
                        <th class="th1" style="border-left: 1px solid black;">Cliente:</th>
                        <td class="th2">
                            <p id="pNameClient3_3"></p>
                        </td>
                        <th class="th1">Tel:</th>
                        <td class="th2">
                            <p id="pTelClient3_3"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Domicilio:</th>
                        <td class="th2">
                            <p id="pDomicilioClient3"></p>
                        </td>
                        <th class="th1">Zona</th>
                        <td class="th2">
                            <p id="pZoneClient3"></p>
                        </td>
                        <th class="th1" style="border-left: 1px solid black;">Domicilio:</th>
                        <td class="th2">
                            <p id="pDomicilioClient3_3"></p>
                        </td>
                        <th class="th1">Zona:</th>
                        <td class="th2">
                            <p id="pZoneClinet3_3"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Cuota:</th>
                        <td class="th2">
                            <p id="pCuota3"></p>
                        </td>
                        <th class="th1">Pagó:</th>
                        <th class="th1">Firma.</th>
                        <th class="th1" style="border-left: 1px solid black;">Cuota:</th>
                        <td class="th2">
                            <p id="pCuota3_3"></p>
                        </td>
                        <th class="th1">Pagó:</th>
                        <th class="th1">Firma.</th>
                    </tr>
                </table>
                <div class="container">
                    <div class="row">
                        <table id="tblCuponCliente3" class="table" style="color: black; text-align:left; ">
                            <thead class="thead-light">
                                <tr>
                                    <th class="col-xs-1">Desde</th>
                                    <th class="col-xs-1">Hasta</th>
                                    <th class="col-xs-1">Total</th>
                                    <th class="col-xs-1">Pagado</th>
                                    <th class="col-xs-1">Saldo</th>
                                    <th class="col-xs-1">Cuo</th>
                                    <th class="col-xs-1 border border-primary">Desde</th>
                                    <th class="col-xs-1">Hasta</th>
                                    <th class="col-xs-1">Total</th>
                                    <th class="col-xs-1">Pagado</th>
                                    <th class="col-xs-1">Saldo</th>
                                    <th class="col-xs-1">Cuo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <table class="table" style="color:black; text-align:left;">
                    <tr>
                        <th class="th1" style="border: 1px solid black;">CLIENTE </th>
                        <th class="th2" style="border-top: 1px solid black;">Fecha:</th>
                        <th class="th1" style="border-top: 1px solid black;">Num Préstamo:</th>
                        <td class="th2" style="border-top: 1px solid black;">
                            <p id="pNumPrestamo4"></p>
                        </td>
                        <th class="th1" style="border: 1px solid black;">CREDI-TO </th>
                        <th class="th2" style="border-top: 1px solid black;">Fecha:</th>
                        <th class="th1" style="border-top: 1px solid black;">Num Préstamo:</th>
                        <td class="th2" style="border-top: 1px solid black;">
                            <p id="pNumPrestamo4_4"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Cliente:</th>
                        <td class="th2">
                            <p id="pNameClient4"></p>
                        </td>
                        <th class="th1">Tel:</th>
                        <td class="th2">
                            <p id="pTelClient4"></p>
                        </td>
                        <th class="th1" style="border-left: 1px solid black;">Cliente:</th>
                        <td class="th2">
                            <p id="pNameClient4_4"></p>
                        </td>
                        <th class="th1">Tel:</th>
                        <td class="th2">
                            <p id="pTelClient4_4"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Domicilio:</th>
                        <td class="th2">
                            <p id="pDomicilioClient4"></p>
                        </td>
                        <th class="th1">Zona:</th>
                        <td class="th2">
                            <p id="pZoneClient4"></p>
                        </td>
                        <th class="th1" style="border-left: 1px solid black;">Domicilio:</th>
                        <td class="th2">
                            <p id="pDomicilioClient4_4"></p>
                        </td>
                        <th class="th1">Zona:</th>
                        <td class="th2">
                            <p id="pZoneClinet4_4"></p>
                        </td>
                    </tr>
                    <tr>
                        <th class="th1" style="border-left: 1px solid black;">Cuota:</th>
                        <td class="th2">
                            <p id="pCuota4"></p>
                        </td>
                        <th class="th1">Pagó:</th>
                        <th class="th1">Firma.</th>
                        <th class="th1" style="border-left: 1px solid black;">Cuota:</th>
                        <td class="th2">
                            <p id="pCuota4_4"></p>
                        </td>
                        <th class="th1">Pagó:</th>
                        <th class="th2">Firma.</th>
                    </tr>
                </table>
                <div class="container">
                    <div class="row">
                        <table id="tblCuponCliente4" class="table" style="color: black; text-align:left; ">
                            <thead class="thead-light">
                                <tr>
                                    <th class="col-xs-1">Desde</th>
                                    <th class="col-xs-1">Hasta</th>
                                    <th class="col-xs-1">Total</th>
                                    <th class="col-xs-1">Pagado</th>
                                    <th class="col-xs-1">Saldo</th>
                                    <th class="col-xs-1">Cuo</th>
                                    <th class="col-xs-1 border border-primary">Desde</th>
                                    <th class="col-xs-1">Hasta</th>
                                    <th class="col-xs-1">Total</th>
                                    <th class="col-xs-1">Pagado</th>
                                    <th class="col-xs-1">Saldo</th>
                                    <th class="col-xs-1">Cuo</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>

<script>

    $('.th1').attr('class', 'col-xs-1');
    $('.th2').attr('class', 'col-xs-2');

</script>


<div class="card-body">

    <div class="row">
        <div class="card-body">
            <button type="button" class="btn btn-primary" onclick="printDiv();"><i class="fas fa-print"></i> Imprimir</button>
        </div>
    </div>
</div>

<link href="~/Scripts/AlertMessage/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="~/Scripts/AlertMessage/alertifyjs/css/themes/default.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.0/jquery-3.4.0.min.js"></script>
<script src="~/Scripts/bootstrap-4.2.1/js/bootstrap.min.js"></script>
<script src="~/Scripts/fontawesome/all.js"></script>
<script src="~/Scripts/AlertMessage/alertifyjs/alertify.js"></script>
<!--DataTables-->
<link href="~/Content/dataTables/DataTables-1.10.18/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/dataTables/Buttons-1.5.6/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.0/datatables/DataTables-1.10.18/jquery.dataTables.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/dataTables.buttons.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/jszip.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/pdfmake.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/vfs_fonts.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/buttons.print.min.js"></script>
<script src="~/Scripts/jquery-3.4.0/datatables/Buttons-1.5.6/buttons.html5.min.js"></script>
<script src="~/Scripts/Controller/ReportCuponClientController.js"></script>
<script src="~/Scripts/Controller/URLController.js"></script>
<script src="~/Scripts/jquery-3.4.0/BlockUI/jquery.blockUI.min.js"></script>



