<div class="card">
    <div class="card-body" style="color:black; background-color:cadetblue; font-family:fantasy; font-size:xx-large; text-align: center">
        REPORTE NO DISPONIBLE 

    </div>
</div>
